.ArtControls {
    grid-column: 3/ span 3;
    grid-row: 7/span1;
    margin-left: -2.5rem;
    margin-top: -2rem;
}

.infoBox {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.infoButton {
    width: 20%;
}

.artInfo > p {
    text-align: left; 
}