.LikeButton {
    text-align: right;
    position: absolute; 
    top: 0;
    left: 0; 
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    grid-column: 6/span 1;
    grid-row: 7;
    margin-left: .5rem; 
    margin-top: -1.5rem;

}

.LikeButton :hover {
    background-color: white;
    border:1px solid black;
}

.LikeButton:focus {
    background-color: black;
}