.LikeButton {
    text-align: right;
    position: absolute; 
    top: 0;
    right: 0; 
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;

}

.LikeButton :hover {
    background-color: white;
    border:1px solid black;
}

.LikeButton:focus {
    background-color: black;
}