.AboutLink {
    text-decoration: none; 
    color: black;
}

.AboutLink:hover{
    color: rgb(211, 211, 211); 
}

.NavLink {
    text-decoration: none; 
    color: black;
}

.NavLink:hover {
    color: lightgray;  
}