.NextButton {
    position: absolute;
    right: 3rem;
    bottom: -1rem;
    font-size: 18px;
    font-weight: bolder;
    width: 200px;
}

.NextButton:hover {
    color: orange;
    cursor: pointer
}
