.PageTitle {
    position: fixed; 
    top: 1rem; 
    left: 1rem; 
    width: 100px; 
    height: 100px;
    font-size: 28px; 
    font-weight: bolder; 
    cursor: pointer;
    color: black; 
    text-transform: uppercase
}

.PageTitle:hover {
    color: rgb(211,211,211); 
}

.title1 {
    position: fixed; 
    top: 5rem; 
    transform: rotate(-90deg)
}

.signedInTitle1 {
    position: fixed; 
    top: 8rem;
    transform: rotate(-90deg);
}

.title2 {
    position: fixed;
    top: 2rem; 
    left: 5rem;
}

@media (min-width: 480px){

    .PageTitle {
        display: none;
    }
}