.Navigation {
    position: relative;
    top: 0; 
    width: 100%;
    height: 8rem;
    margin-bottom: 2rem;
}

.mainNavLinks {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 10rem; 
    right: -1rem;
    transform: rotate(90deg);
    font-size: 18px; 
    font-weight: bolder; 
    color: black; 
    text-decoration: none; 
    text-transform: uppercase
}

.mainNavLinks > div {
    margin-right: 3rem;

}

.signinNavLink {
    position: absolute;
    left: 7rem;
    top: 0;
    width: 100px;
    text-transform: uppercase;
}

.AboutLink {
    text-decoration: none; 
    color: black;
}

.AboutLink:hover{
    color: orange; 
}