.FullArt {
 
    margin: auto; 
    cursor: pointer;
    box-sizing: content-box;

    /* position: absolute; */

    /* background-color: rgba(255,255,255,.9);

    left: 0;
    right: 0; */
}

.FullArtImageWrap{
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.FullArtImage {
    margin: auto;
    height: auto; 
}

.FullArtImage:hover .CloseViewIcon {
    visibility: visible
    
}

.CloseViewIcon {
    width: 30px;
    position: absolute; 
    top: 2rem;
    right: 2rem;
    visibility: none
}

.viewIconWrap {
    width: 450px; 
    margin: 0 auto;
    position: absolute; 

}