.Gallery {
    width: 450px; 
    height: 70vh; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}

.GalleryFrame { 
    position: absolute;
    height: 70%;
    width: 100px;
    bottom: -5rem;
    left: 2.5rem;
    overflow-x: scroll;
    z-index: 21;
}

.GalleryStrip {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column-reverse; 
    justify-content: space-between; 
    align-items: center; 
    overflow-x:scroll;
    z-index: 3;
    list-style: none; 
}

.GalleryFrame::-webkit-scrollbar {
    width: .25rem;
    height: 2rem;
}
.GalleryFrame::-webkit-scrollbar-track {
    background-color: white;
}
.GalleryFrame::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  /* outline: 1px solid slategrey; */
}

@media (max-width: 480px){

    .GalleryFrame {
        height: 90px; 
        width: 80%;
    }

    .GalleryStrip {
        flex-direction: row;
        direction: rtl;
    }
}